<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
</head>
<body>

<div class="container">
    
    <%- include('navigation.ejs') %>

</div>


<a type="button" href="/projects/<%= projectId %>/new-sprint" class="btn btn-success btn-danger">Créer un nouveau sprint</a>

<footer>
    <%- include('footer.ejs') %>
</footer>

</body>
</html>
