<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page not found</title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
</head>

<body>
    <h1>Error, the page you are looking for was not found</h1>
</body>

</html>