<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
</head>
<body class="container">

<div class="jumbotron">
    <h1>Projet CDP</h1>
    <p>Liste des projets créés</p>
</div>

<a type="button" href="/new-project" class="btn btn-success btn-danger">Créer un nouveau projet</a>

<footer>
    <%- include('footer.ejs') %>
</footer>

</body>
</html>