<% sprint.USList.forEach(function(US) { %>
    <div class="user-story border row m-0" style="cursor: grab; border-radius: 3px">
        <span class="col-1">#<%= US.id %></span>
        <span class="description col-9"><%= US.description %></span>
        <span class="col-1 text-center"><span class="badge-pill badge-info"><%= US.difficulty %></span></span>
        <span class="col-1 text-right us-more" onclick="alert('click')"><i class="fas fa-ellipsis-v"></i></span>
    </div>
<% }); %>
