<div id="taskList">
</div>

<button class="btn btn-success float-right" onclick="closeDependencies(true)">Valider</button>
<button class="btn btn-danger float-right" onclick="closeDependencies()">Annuler</button>
