<div id="usList">
</div>

<button class="btn btn-success float-right" onclick="closeLinkedUserStories(true)">Valider</button>
<button class="btn btn-danger float-right" onclick="closeLinkedUserStories()">Annuler</button>
