
<div class="border mb-2 p-2 dependency-task" onclick="toggleSelectDependency('1')" id="task-1">
    Une super tâche ! Une super tâche ! Une super tâche ! Une super tâche ! Une super tâche !
</div>

<div class="border mb-2 p-2 dependency-task" onclick="toggleSelectDependency('2')" id="task-2">
    Une super tâche ! Une super tâche ! Une super tâche ! Une super tâche ! Une super tâche !
</div>

<button class="btn btn-danger" onclick="closeDependencies()">Annuler</button>
