.user-story {
    font-size: 1.2em;
    margin-bottom: 3px !important;
    cursor: grab;
    border-radius: 3px;
    background-color: white;
}

.user-story .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-story .us-more {
    cursor: pointer;
}

.us-container {
    background-color: white;
    border-style: hidden;
    min-height: 15px;
    width: 100%;
}
