body > h1 {
    text-align: center;
}

.pop-up-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.pop-up {
    display: none;
    position: fixed;
    width: 50%;
    min-height: 50%;
    height: auto;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px;
    overflow: scroll;
    z-index: 1002;
}

.button-self-made {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    width: 200px;
    height: 50px;
    border: none;
    color: whitesmoke;
    background-color: black;
    border-radius: 3px;
    box-shadow: inset 0 0 0 0 #e74c3c;
    transition: ease-out 0.2s;
    font-size: 2rem;
    outline: none;
}

.button-self-made:hover {
    box-shadow: inset 200px 0 0 0 #e74c3c;
    cursor: pointer;
    color: #ffffff
}
