body {
    max-height: 100%;
}

.pop-up-wrapper2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: 1002;
}

#pop-up-dependencies {
    padding: 30px;
    z-index: 1003;
}

#add-task {
    padding: 30px;
    width: 60%;
    min-height: 65%;
    height: auto;
    max-height: 80%;
}

.pop-up .close {
    position: absolute;
    top: 0;
    right: 5px;
}

.definition-of-done {
    font-size: 14px;
}

.dependency-task {
    margin-bottom: 3px;
    border-radius: 3px;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#pop-up-dependencies .dependency-task {
    cursor: pointer;
    white-space: normal;
    font-size: 14px;
}

#pop-up-dependencies .dependency-task.selected {
    background-color: rgba(0, 123, 255, 0.5);
    font-weight: bold;
}

.card .card-body .member-avatar {
    width: 32px;
    height: 32px;
}
